html,body{
    width:100%;
    height:100%;
    background-color:#fff;
}
/* 超小设备（手机，小于 768px） */
#body{
    width:100%;
    height:100%;
    position:relative;
    top:0;
    left:0;
    background-color:#63B8FF;
}

/* 小型设备（平板电脑，768px 起） *//* 中型设备（台式电脑，992px 起） *//* 大型设备（大台式电脑，1200px 起） */
@media (min-width:768px) {
    #body{
        width:768px;
        margin:0 calc((100% - 768px)/2);
    }
}
.image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
        display: none;
        background-color: rgba(0,0,0,.8);
        z-index:10;
    }

.image img{
    width: 90%;
    margin-top: 60px;
    margin-left: 5%;
}

.image p{
    margin-top: 35px;
    text-align: center;
    font-size: 14px;
    color: red;
}

.notice{
    width:70%;margin:5px auto;font-size:12px;text-align:center;color:red;
}
@media screen and (max-height:480px) {
    .notice{
        width: 60%;
    }
    .image img{
        margin-top:20%;
        width: 80%;
        left: 10%;
    }
}

.btn_close{
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 10px;
    border: 1px solid #fff;
    right: 10px;
    text-align: center;
    line-height: 25px;
    font-weight: lighter;
    font-size: 25px;
    color: #fff;
}

header img{
    width:100%;
}

.inputlist{
    margin:0 15%;
    width:70%;
    font-size: 20px;
    line-height:1.5em;
    }
.inputlist p{
    margin:10% auto;
    }

 .inputlist img{
    margin:15% 25% 5% 25%;
    width:50%;
 }

.inputlist .textbox{
     background-color:white;
     border:1px solid  black;
    width:50%;
}


.inputlist .buttonbox{
     background-color:white;
     border:1px solid  black;
    width:50%;
    margin:0 25%;
}


footer { 
    position:fixed;
    bottom:5%;
    width: 100%;color: rgba(255,255,255,0.6);
    text-align: center;
    font-size: 12px;
}
footer a {
    color: rgba(255,255,255,0.8);
}