/*reset start*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 63%/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 1.8em; /* 18px / 12px = 1.5 */ }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 1.2em; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }
/*reset end*/
html,body{
    width:100%;
    height:100%;
}
#bg{
    margin:0 auto;
}

.back{
   background-image:url(../images/back.jpg);
   background-size:100% 100%;
   background-repeat:no-repeat;

}

#logo{
    display:none;
    width:60%;
    height:20%;
    position:relative;
    top:0;
    left:20%;
    z-index: 1;
}

#imglogo{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#imgshare{
    position:absolute;
    top:0;
    left:0;
    display:none;
    width:100%;
    height:100%;
}

#start{
    display:none;
    width:60%;
    height:50%;
    position:relative;
    top:0;
    left:20%;
    background-image:url(../images/start.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
}

#start img{
    position:absolute;
    top:75%;
    left:25%;
    width:50%;
    height:20%;
}



#all_canvas{
    display: none;
    position:relative;
    top:-20%;
    margin:0;
   <!-- background:url(../images/back.jpg);-->
}

#canvas1{
    position:absolute;
    left:0;
    top:0;
    z-index: 2;
}

#canvas2{
    position:absolute;
    left:0;
    top:0;
    z-index: 0;
}

#score{
    position:absolute;
    left:5%;
    top:10%;
    z-index:2;
    font-size:5em;
}

#end{
    display: none;
    width:100%;
    height:80%;
    position:relative;
    top:0;
    left:0;
}


#result{
    display: none;
    position:absolute;
    left:20%;
    top:20%;
    width:60%;
    height:50%;
    background-image:url(../images/end.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
}

#result_score{
    position:absolute;
    left:30%;
    top:70%;
    font-size:3em;
}

#result img{
    position:absolute;
    top:90%;
    left:25%;
    width:50%;
    height:20%;
}
